.button {
  font-size: 40px !important;
}

.pixelStyleTools {
  display: inline-block;
  user-select: none;
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
  position: absolute;
  bottom:0%;
  left:0%;
  z-index:100;
}

.fileInput {
  display: none;
}