# Mac OS
.DS_Store

# NPM
/node_modules*
npm-*
package-lock.json

# Environment Variables
.env

# Build
/dist*

# firebase stuff
.firebase
*-debug.log

# Confidential don't put in repo!
firebase.config.js
firebase.service.json