.pixelCountContainer {
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.rowCountContainer {
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.countContainers {
  display: inline-block;
  user-select: none;
  vertical-align: middle;
  position: absolute;
  margin: 5px;
}
