.pixelCountContainer {
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  display: block;
  margin : 0px 10px;
}

.rowCountContainer {
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  display: block;
  margin : 0px 10px;
}

.countContainers {
  display: flex;
  flex-direction: row;
  justiy-content: flex-start;
  user-select: none;

  /* REQUIRED FOR SPLITPANE TO WORK  */
  overflow: visible;
  width: 0px;
  /*  */

  margin-top: 10px;
  filter: invert(0.25);

  position: relative;
}
