.pixelCountContainer {
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  display: block;
  margin : 0px 10px;
}

.rowCountContainer {
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  display: block;
  margin : 0px 10px;
}

.toolsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  width: 100%;
  padding: 2.5px 0;
  position: relative;
}

.halfContainer {
  display: flex;
  flex-direction: row;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  user-select: none;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0px;
  color: white !important;
  font: 15px sans-serif;
}

.counter > input {
  text-align: center !important;
}
.counter::before {
  border-bottom: 2px solid #eee !important;
}
.counter::after {
  border-bottom: 3px solid white !important;
}

.counter input[type=number]::-webkit-inner-spin-button, 
.counter input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.icon {
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.download-container {
  margin: 0px 10px;
}

.download-button {
  font-size: 35px !important;
}