@import "../../css/colors.scss";


.formik-radio-label :global(.MuiFormControlLabel-label) {
  font-size: .75rem ;
}

.formik-radio-button:global(.MuiRadio-colorPrimary.Mui-checked) {
  color: $ui-blue;
}

input.formik-radio-input, .formik-radio-input input {
    height: 2.1875rem;
    width: 100%;
    margin-bottom: 0;
    border-radius: .5rem;
    background-color: $ui-white;

    &:focus {
        box-shadow: 0 0 0 .25rem $ui-blue-25percent;
    }
}

.formik-radio-input-wrapper {
    margin-left: auto;
    margin-right: .5rem;
    width: 10.25rem;
}