.simToolsContainer {
  position: absolute;
  z-index: 500;
  width: 100%;
}

.transformContainer {
  position: absolute;
  overflow: hidden;
  cursor: -webkit-grab; 
  cursor: grab;
}

.transformContainer:active {
  cursor: -webkit-grabbing; 
  cursor: grabbing;
}