.transformContainer {
  width: 0;
  height: 100%;
}

.simToolsContainer {
  position: absolute;
  z-index: 500;
}

.version {
  margin: 5px;
  right: 0 ;
  bottom: 0 ;
  zIndex : 500; 
  position: absolute;
}
