.rowCountTools {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  user-select: none;
}

.rowCount {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0px;
  color: white;
  font: 15px sans-serif;
  text-align: center;
}

.icon {
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
