.body {
  /* background: $ui-white; */
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 25px;
  width: 300px;
  user-select: text;
}

.submit-button {
  color: white;
  padding: 10px;
  background: hsla(215, 100%, 65%, 0.9);
}