@import "../../css/colors.scss";
// editing global css classes for Material UI Tooltip https://material-ui.com/api/tooltip/

:global(.MuiTooltip-tooltip) {
  // styles copied from ../navbar/navbar.scss
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  
  font-size: 1rem !important;
  font-weight: normal !important; 
  padding: 10px 10px !important;
  text-decoration: none !important;
  text-align: center !important;
  border: 3px solid rgba(0, 0, 0, 0.15);
}

:global(.MuiTooltip-arrow) {
  &:before {
    border: 2px solid rgba(0, 0, 0, 0.25);
  }
}

.error:global(.MuiTooltip-tooltip) {
  background-color: $ui-orange !important;
}
.error :global(.MuiTooltip-arrow) {
  &:before {
    background-color: $ui-orange !important;
  }
}

.info:global(.MuiTooltip-tooltip) {
  background-color: $ui-tertiary !important;
}
.info :global(.MuiTooltip-arrow) {
  &:before {
    background-color: $ui-tertiary !important;
  }
}